.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #222222;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}

.headerIcon {
    width: 32px; /* Adjust size to your preference */
    height: 32px;
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle;
}

.logoRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between the logos */
    margin-bottom: 20px; /* Space below the logos */
}

.logoImage {
    height: 50px; /* Adjust as needed */
    object-fit: contain; /* Ensures the image scales nicely */
}

.disclaimer {
    text-align: center;
    font-size: 14px;
    color: #666; /* A neutral gray for the disclaimer text */
    margin-top: 10px; /* Space above the disclaimer */
    max-width: 80%; /* Ensure it's not too wide */
    margin-left: auto;
    margin-right: auto; /* Center the disclaimer text */
}